@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upper {
    background: url(bg1.png) no-repeat;
    background-size: cover;
    height: 800px;
    padding-top: 200px;
    padding-left: 240px;
    width: 100%;
}

.upper__title {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-bottom: 16px;
    width: 394px;
}

.upper__discription {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 402px;
    color: white;

}

.middle {
    display: flex;
}

.middle__left {
    width: 50%;
}


.middle__right {
    width: 50%;
    height: inherit;
    background: rgba(207, 199, 192, 1);
}

.middle__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin-bottom: -10px;
}

.middle__logo {
    padding-top: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
    color: #333333;
}

.title__line {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.title__line-item {
    background: #333333;
    width: 73px;
    height: 1px;
}

.container {
    padding-right: 39px;
    padding-top: 168px;
    display: flex;
    justify-content: space-between;
    color: #333333;
}

.container__title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.maz {
    padding-top: 50px;
    padding-left: 40px;
}

.container__discription {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 21px;

}

.container__discription2 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    width: 401px;
    margin-bottom: 26px;

}

.button1 {
    width: 396px;
    height: 60px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.button2 {
    border: 1px #333333 solid;
    width: 396px;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.button2__text {
    margin-left: 88px;
    margin-right: 84px;
    text-decoration: none;
    color: #333333;
}

.robot {
    margin-top: 200px;
    background-color: rgba(229,229,229,0.05);
}

.robot__header {

    padding: 0 240px;
    color: black;
    font-family: "Hind Siliguri";
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    align-items: center;
    margin-bottom: 54px;

}

.list__item:not(:last-child) {
    margin-right: 40px;
}

.link {
    text-decoration: none;
   color: rgba(3, 13, 21, 1);
   text-transform: uppercase;
}
.nav__list {
    display: flex;
    list-style-type: none;
    
}

.list__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow  {
    margin-top: -1px;
    max-width: 8px;
    max-height: 4px;
    margin-left: 8px;
    border: solid rgba(3, 13, 21, 1);
    border-width: 0 1px 1px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.header__buttons {
    display: flex;
    align-items: center;
}

.item:not(:last-child) {
    margin-right: 32px;
}




.robot__main {
    padding: 0 144px 0 240px;

}


.main__container {
    display: flex;
    justify-content: space-between;
}

.left__container {
    padding-top: 75px;

}

.first__text {
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 500;
    color: #C72535;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 3px;
    line-height: 26px;
}



.second__text__decor {

    font-family: "Hind Siliguri";
    font-size: 61px;
    font-weight: 600;
    text-align: left;
    color: #247CC0;
    line-height: 73px;
    position: relative;
}

.second__text {
    font-family: "Hind Siliguri";
    font-size: 61px;
    font-weight: 400;
    text-align: left;
    color: #030D15;
    line-height: 73px;
    margin-bottom: 29px;
    max-width: 555px;
}

.block {
    background: #247CC0;
    opacity: 0.1;
    width: 484px;
    height: 73px;
    position: absolute;
    margin-top: 30px;
    left: 230px;
}

.right__container {
    margin-left: 38px;
}

.discription {
    font-family: "Hind Siliguri";
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #030D15; 
    margin-bottom: 36px;
    max-width: 515px;
}

.container__footer {
    display: flex;


}

.butt {
    margin-right: 31px;
    width: 151px;
    height: 58px;
    background-color: #247CC0;

    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    text-decoration: none;
    color: white;
}

.price {
    font-family: "Hind Siliguri";
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    display: flex;
    align-items: center;
    margin-right: 18px;
}

.price2 {
    font-family: "Hind Siliguri";
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    color:rgba(3, 13, 21, 0.5);
    display: flex;
    align-items: center;
}










.footer {
    margin-top: -3px;
    background-color: rgba(229,229,229,0.05);
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.footer__img {
    padding: 76px 118px;
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 237px;
    background-color: white;
    box-shadow: 0px 20px 20px 12px rgba(0, 0, 0, 0.08);
}

.img__item {
    max-width: 163px;
    max-height: 85px;
}