@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upper {
    background: url(bg1.png) no-repeat;
    background-size: contain;
    height: 800px;
    padding-top: 200px;
    padding-left: 240px;
    width: 100%;
}

.upper__title {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-bottom: 16px;
    width: 394px;
}

.upper__discription {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 402px;
    color: white;

}

.middle {
    display: flex;
}

.middle__left {
    width: 50%;
}


.middle__right {
    width: 50%;
    height: inherit;
    background: rgba(207, 199, 192, 1);
}

.middle__img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin-bottom: -10px;
}

.middle__logo {
    padding-top: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
    color: #333333;
}

.title__line {
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;
}

.title__line-item {
    background: #333333;
    width: 73px;
    height: 1px;
}

.container {
    padding-right: 39px;
    padding-top: 168px;
    display: flex;
    justify-content: space-between;
    color: #333333;
}

.container__title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.maz {
    padding-top: 50px;
    padding-left: 40px;
}

.container__discription {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 21px;

}

.container__discription2 {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    width: 401px;
    margin-bottom: 26px;

}

.button1 {
    width: 396px;
    height: 60px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.button2 {
    border: 1px #333333 solid;
    width: 396px;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    color: #333333;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.button2__text {
    margin-left: 88px;
    margin-right: 84px;
    text-decoration: none;
    color: #333333;
}

